<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
            <h2>Portfolio Personal</h2>
            <p>Uno de los proyectos realizados es mi Portfolio Personal creado en el curso de Full Stack Jr. brindado por Argentina Programa. Para llevar a cabo éste proyecto, en la parte de Front End se utilizó HTML, CSS, Bootstrap y Typescript a través del desarrollo en el framework Angular. En la parte de Back End se diseñó la base de datos en MySQL y se utilizó el lenguaje Java para el manejo de los mismos. El diseño de la API para conectar con el Front se realizó mediante Java Spring Boot. Finalmente el deploy del Front se realizó mediante Firebase y el del Back a través de Heroku conectando la base de datos con Clever Cloud. </p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>       
    </div>
</div>
