<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 parte1">
            <h2>Portfolio Personal</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe dignissimos libero minus sequi earum laboriosam sit quo perferendis quibusdam exercitationem nemo labore nam dolores consequatur harum, quae amet soluta? Veritatis!</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 parte2"></div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 parte3">
            <img src="../../../assets/" class="img-fluid img-proyecto">
        </div>       
    </div>
</div>
