.row {
    height: 450px;
    padding: 20px;
    background-color: #0a192f;
    color: #64ffda;
}

.contenedor {
    width: auto;
}

h1 {
    position: absolute;
    font-style: oblique;
    margin-left: 20px;
    margin-bottom: 20px;   
   
}

h2 {
    position: relative;
    top: 70px;
    left: 10%;
}

p {
    position: relative;
    top: 70px;
    left: 15%;
    margin-top: 20px;
    color: #ccd6f6;
}

.parte1, .parte2, .parte3 {
    display: inline-block;
    text-align: justify;
}

.img-proyecto {
    height: 200px;
    width: 400px;
    box-shadow: 10px 10px 30px #64ffda;
    position: relative;
    /* top: 70px; */
    
}