<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="profesion">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy Técnico Electrónico finalizando la carrera de Ingeniería Electrónica. Poseo algunos años de experiencia en mantenimiento de equipamiento médico de variada complejidad. Actualmente, me encuentro realizando diversos cursos y capacitaciones relacionadas a la Programación Web y el Análisis de Datos para obtener  los conocimientos necesarios que me permitan lograr mi primer trabajo en el campo IT. Mi principal interés es el aprendizaje constante para poder aportar soluciones en cualquier ámbito que lo requiera.</p>
        </span>
    </div>
</div>
