<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/federico-baldasso/" target="_blank"><img src="../../../assets/linkedin.png" id="Linkedin"></a>
            <a href="https://github.com/fedebaldasso" target="_blank"><img src="../../../assets/github.png" id="GitHub"></a>
            <a href="https://twitter.com/FedeBaldasso" target="_blank"><img src="../../../assets/twitter.png" id="Twitter"></a> 
            <a href="https://www.instagram.com/fedeb.ok/" target="_blank"><img src="../../../assets/instagram.png" id="Instagram"></a>                       
            <a href="https://www.facebook.com/profile.php?id=100013437036299" target="_blank"><img src="../../../assets/facebook.png" id="Facebook"></a>
            <button type="button" class="btn btn-outline-secondary" (click)="login()" *ngIf="!isLogged">LOGIN</button>
            <button type="button" class="btn btn-outline-secondary" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
</div>




