.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 0.5em;
}

#Linkedin{
    margin: 10px;
}

#Twitter{
    margin: 10px;
}

#Instagram{
    margin: 10px;
}

#GitHub{
    margin: 10px;
}

#Facebook{
    margin: 10px;
}

#logoAP {
    width: 150px;
    margin: 10px;
}

img {
    width: 40px;
}

.btn {
    border-width: medium;
    border-color: #64ffda;
    color: #64ffda;
    margin: 10px;
}

a img:hover {
    background-color:#a8b2d1;
    border-radius: 50%; 
  }

/*Para la vista de celular*/

@media (max-width: 575px) {

    .container{
        flex-direction: column;
    }
    
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes img {
        margin: 0.2em;
    }

}

