<div class="row">
  <div><h1 class="title">Educación</h1></div>
  <div class="col-lg-3">
    <button
      type="button"
      class="btn btn-success"
      routerLink="/nuevaedu"
      *ngIf="isLogged"
    >
      Agregar Educación
    </button>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of edu">
          <td>
            <h2>{{ Educacion.nombreE }}</h2>
          </td>
          <td>
            <h4>{{ Educacion.descripcionE }}</h4>
          </td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editedu/{{ Educacion.id }}"
            >
              <i class="bi bi-pencil"></i>&nbsp; Editar
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-pencil"></i>&nbsp; Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="row">
    <h1 class="title">Educación</h1>    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="fechas">
            <li class="fecha"><h3>06 / 2022 - 11 / 2022</h3></li>
            <li class="fecha"><h3>03 / 2022 - 10 / 2022</h3></li>
            <li class="fecha"><h3>01 / 2022 - 12 / 2022</h3></li>
            <li class="fecha"><h3>11 / 2021 - 07 / 2022</h3></li>
            <li class="fecha"><h3>10 / 2021 - 12 / 2021</h3></li>
            <li class="fecha"><h3>2005 - Actualidad</h3></li>
            <li class="fecha"><h3>2002 - 2004</h3></li>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">                
        <div class="estudio">
            <h3>QA (QUALITY CONTROL - SOFTWARE TESTER)</h3>
            <h4>Egg Cooperation</h4>
            <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector Agrícola.</p>
        </div>
        
        <div class="estudio">
            <h3>DATA SCIENCE</h3>
            <h4>Coderhouse</h4>
            <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector Agrícola.</p>
        </div>        
        
        <div class="estudio">
            <h3>FULL STACK DEVELOPER (MERN)</h3>
            <h4>NUCBA</h4>
            <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector Agrícola.</p>
         </div>
         
         <div class="estudio">
            <h3>FULL STACK DEVELOPER</h3>
            <h4>Argentina Programa - Ministerio de Desarrollo Productivo</h4>
            <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector Agrícola.</p>
         </div>   

         <div class="estudio">
            <h3>DATA ANALYTICS</h3>
            <h4>Coderhouse</h4>
            <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector Agrícola.</p>
         </div>   

         <div class="estudio">
            <h3>Universitaria INGENIERÍA ELECTRÓNICA</h3>
            <h4>Universidad Tecnólogica Nacional - Facultad Regional Mendoza</h4>
            <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector Agrícola.</p>
         </div>   

         <div class="estudio">
            <h3>Secundaria PRODUCCIÓN DE BIENES Y SERVICIOS</h3>
            <h4>Escuela de Comercio Martín Zapata - Universidad Nacional de Cuyo</h4>
            <p>Desarrollo de Sistema de Medición de Temperatura y Análisis de Datos para Prevención de Heladas en Sector Agrícola.</p>
         </div>   
        
    </div>
</div> -->
