.row {
    background-color: #0a192f;
}

footer {
    color: #64ffda;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}

h6 {
    margin-top: 10px;
}